.form{
    text-align: center;
    width: 1500px;
    /* width: 8cm; */
    margin-top: 200px;
    margin-left: 530px;
    background: linear-gradient(to right, rgb(218, 114, 114), rgb(228, 228, 129), rgb(139, 139, 233));
  height: 250px;
  width: 500px; /* Set height to see the background */
  /* width: 100%; */
    
}
input{
    border: 1px solid rgb(199, 184, 184);
    height: 40px;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    margin-top: 7px;
    
    
}
button{
    margin-top: 10px;
    background-color: rgb(49, 196, 49);
    height:25px;
    width: 84px;
    border-radius: 4px;
    border: none;
}
input:hover{
    background-color: rgb(237, 216, 216);
}
button:hover{
    background-color: rgb(11, 154, 11);
}
body{
    background: linear-gradient(to right, rgb(220, 229, 139), rgb(233, 178, 217), rgb(161, 229, 217));
    
}
.contentHP .home{
    
    margin-right: 30px;
    font-size: larger;
    text-decoration: none;
  
  
}
.contentHP .photos{
    
    margin-right: 30px;
    font-size: larger;
    text-decoration: none;
  
  
}
